/* Styleheet for Mobilbe App*/

/* Reset*/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav {
    margin: 0;
    padding: 0;
}

/* Universal Style*/
body {
    background-color: #a80000;
}
div#container {
    width: 1920px;
    height: 1080px;
    background-color: #B5B312;
}
header {
    width:100%;
    padding:25px;
    background-color: #0C4D75;
}
header,h1 {
    color: black;
    font-family: 'monaco';
    font-size: 2.6em;
}
div#content {
    width:100%;
    backgroun-color: #5C0909;
}
nav {
    width: 100%;
    background-color: #0C9BF5;
}
nav ul {
    display: block;
    margin: auto;
    font-family: 'monaco';
}