/* Styleheet for Mobilbe App*/

/* Reset*/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav {
    margin: 0;
    padding: 0;
}

/* Universal Style*/
body {
    height: 10000px;
    background-color: #008000;
}
div#container {
    font-family: 'monaco';
    color: #00FF00;
    font-size: 2.6em;
}
li#item {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 102.5%;
    height: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    font-family: 'monaco';
    color: #00FF00;
    background-color: #008800;
    transition: .5s;
}
li#item:hover {
    font-size: 50px;
    text-shadow:3px 3px 2px;
    color: #4DFF4D;
    background-color: #00CC00;
    box-shadow: 0px 0px 50px #4DFF4D;
}
li#item:active {
    font-size: 45px;
    text-shadow:1px 1px 5px;
    background-color:#008800;
    box-shadow: 0px 0px 0px #4DFF4D;
}
header {
    font-family: 'monaco';
    text-align: center;
    width:100%;
    padding:25px;
    background-color: #000000;
}
nav,ul {
    display: block;
    margin: auto;
}