/* Styleheet for Mobilbe App*/

/* Reset*/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav {
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: .5s;
}

/* Universal Style*/
body {
    height: 10000px;
    background-color: #268026;
}
h1 {
    text-decoration: none;
    font-family: 'monaco';
    text-align: center;
    width:100%;
    padding:100px 100px;
    background-color: #000000;
    transition: .5s;
    display: block;
    text-align: center;
}
li {
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
    padding: 5px;
    transition: 2s;
}
div#container {
    text-decoration: none;
    font-family: 'monaco';
    color: #00FF00;
    font-size: 2.6em;
    background-color: #000000;
}
ul{
    list-style: none;
    text-decoration: none;
    display: block;
    align-content: center;
    background-color: #008000;
}
li#item {
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 102.5%;
    height: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    font-family: 'monaco';
    color: #00FF00;
    background-color: #008000;
    transition: .5s;
}
li#item:hover {
    text-decoration: none;
    font-size: 50px;
    text-shadow:3px 3px 2px #000000;
    color: #4DFF4D;
    background-color: #00CC00;
    box-shadow: 0px 0px 50px #4DFF4D;
    transition: .25s;
}
li#item:active {
    text-decoration: none;
    font-size: 45px;
    text-shadow:1px 1px 5px #4DFF4D;
    background-color:#008000;
    box-shadow: 0px 0px 0px #4DFF4D;
    transition: .25s;
}
nav,ul {
    text-decoration: none;
    display: block;
    margin: auto;
}
img#product {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: inset;
    border-color: white;
    transition: .5s
}
img#product:hover {
    width: 350px;
    height: 350px;
}
img#product:active {
    width: 325px;
    height: 325px;
}
@media screen and (max-width: 1200px) {
    figure.product {
        float: none;
        margin: 10px auto;
        min-width: 50%;
        max-width: 100%;
        background-color: #000000;
        border-radius: 5%;
    }
    figure.product figcaption {
        text-align: center;
        color: white;
        font-family: 'monaco';
        font-size: 12px;
    }
    legend, span, input, textarea {
        display: block;
        margin: auto;
        text-align: center;
        font-family: 'monaco';
        color: white;
    }
}
